.logo {
    transform: scale();
    max-height: 3em;
    margin-top: 0em;
    padding-left: 1em;
}

.logo-title{
    color: black;
    display: inline;
    align-items: baseline;
    font-size: 1.5em;
    font-family: 'Tapestry', cursive;
}