.home__hero-section {
  color: #fff;
  padding: 8em 0;
  padding-left: 7em;
  height: 91vh;
}

.home__hero-row {
  align-items: center;
}

.row {
  display: flex;
  margin-right: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  flex-wrap: wrap;
  align-content: stretch;
}

.col {
  margin-bottom: 1em;
  padding-right: 1em;
  padding-left: 1em;
  flex: 1;
  max-width: 100%;
  flex-basis: 50%;
}

.home__hero-text-wrapper {
  max-width: 40em;
  padding-top: 1.875em;
  padding-bottom: 3.75em;
}

.top-line {
  font-size: 1em;
  line-height: 1em;
  font-weight: 700;
  letter-spacing: 0.0875em;
  text-transform: uppercase;
  margin-bottom: 1.5em;
}

.heading {
  color: #f00946;
  max-width: 10em;
  margin-bottom: 1em;
  font-size: 3em;
  line-height: 1.1;
  font-weight: 600;
  /* color: #f7f8fa; */
}

.dark {
  color: #1c2237;
}

.darkBg {
  background-color: #1c2237;
}

.home__hero-subtitle {
  max-width: 45em;
  margin-bottom: 2.1875em;
  font-size: 1.125em;
  line-height: 1.5em;
}

.home__hero-img-wrapper {
  max-width: 28.4375em;
}

.home__hero-img {
  max-width: 95%;
  margin-top: -1em;
  margin-right: 0;
  margin-left: 6.25em;
  padding-right: 0;
}

img {
  border: 0;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

@media screen and (max-width: 1190px) {
  
  .container {
    padding-right: 1.875em;
    padding-left: 0em;
  }
  .home__hero-section{
    height: 110vh;
  }
  .home__hero-img-wrapper {
    max-width: 21.6em;
  }
  .top-line {
    font-size: 1em;
  }
  .heading {
    font-size: 2.8em;
    margin-bottom: 0.7em;
  }
  .home__hero-subtitle {
    max-width: 45em;
    margin-bottom: 2.1875em;
    font-size: 1em;
    line-height: 1.5em;
  }
  
}

@media screen and (max-width: 991px) {
  .container {
    padding-right: 1.875em;
    padding-left: 0em;
  }
  .home__hero-section{
    padding-left: 4em;
    height: 89vh;
  }
  .home__hero-img-wrapper {
    max-width: 15em;
  }
  .top-line {
    font-size: 0.92em;
  }
  .heading {
    font-size: 2em;
    margin-bottom: 0.8em;
  }
  .home__hero-subtitle {
    max-width: 45em;
    margin-bottom: 2.1875em;
    font-size: 0.92em;
    line-height: 1.5em;
  }
}

@media screen and (max-width: 768px) {
  .home__hero-text-wrapper {
    padding-bottom: 1.0652em;
  }
  .col {
    max-width: 100%;
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .home__hero-section {
    color: #fff;
    padding: 4em 0;
    padding-left: 0em;
    height: 135vh;
  }

  .container {
    padding-right: 0em;
    padding-left: 0em;
  }
  .home__hero-section{
    padding-left: 0em;
    padding-bottom: 2em;
  }
  .home__hero-img-wrapper {
    max-width: 15em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home__hero-img {
    max-width: 95%;
    margin: 0 auto;
  }
  
 
  .top-line {
    font-size: 1.2em;
    text-align: center;
  }
  .heading {
    font-size: 3.2em;
    max-width: 20em;
    /* margin-bottom: 0.8em; */
    text-align: center;
  }
  .home__hero-subtitle {
    max-width: 45em;
    margin-bottom: 2.1875em;
    font-size: 1.2em;
    line-height: 1.5em;
    text-align: center;
  }
}

@media screen and (max-width: 481px) {
  .home__hero-text-wrapper {
    padding-bottom: 1.0652em;
  }
  .col {
    max-width: 100%;
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .home__hero-section {
    color: #fff;
    padding: 4em 0;
    padding-left: 0em;
    height: 65em;
  }

  .container {
    padding-right: 0em;
    padding-left: 0em;
  }
  .home__hero-section{
    padding-left: 0em;
    padding-bottom: 2em;
  }
  .home__hero-img-wrapper {
    max-width: 15em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home__hero-img {
    max-width: 95%;
    margin: 0 auto;
  }
  
 
  .top-line {
    font-size: 1.2em;
    text-align: center;
  }
  .heading {
    font-size: 2.5em;
    max-width: 20em;
    /* margin-bottom: 0.8em; */
    text-align: center;
  }
  .home__hero-subtitle {
    max-width: 45em;
    margin-bottom: 2.1875em;
    font-size: 1em;
    line-height: 1.5em;
    text-align: center;
  }
}
